/* .container-fluid {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


} */

#container-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe-card img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.recipe-card {
  border-radius: 10px;
  overflow: hidden;
}

